{% extends "base/base.html" %} {% load static %} {% load crispy_forms_tags%}

<!-- Meta Tags Start -->
{% block meta_description %} "Service Creation of Common Service Centres (CSC) in India" {% endblock meta_description %}
{% block meta_og_description %} "Service Creation of Common Service Centres (CSC) in India" {% endblock meta_og_description %}
<!-- Meta Tags Start -->

{% block title_prefix %} CSC Centers {% endblock title_prefix %}

{% block content %}
<style>
  .centered-heading {
    text-align: center;
  }
  .current-page {
    pointer-events: none;
  }
</style>

<!-- Titlebar
================================================== -->
<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>CSC Listing</h2>
        <span>CSC Centers in {{location}}</span>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="{% url 'home:view' %}">Home</a></li>
            <li>CSC Listing</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

{% include "admin_components/message.html" %}

<!-- Content
================================================== -->
<div class="container">
  <div class="row">
    <!-- Search -->
    <div class="col-md-12">
      <form method="get" action="{% url 'home:csc_centers' %}">
        <div class="main-search-input gray-style margin-top-0 margin-bottom-10">
          <div class="main-search-input-item">
            <input type="text" placeholder="Pincode" value="" />
          </div>
          <div class="main-search-input-item">
            <select class="chosen-select" data-placeholder="Select State" id="state-dropdown" name="state">
              <option label="Select State"></option>
              {% for state in states %}
              <option value="{{state.pk}}" {% if state.pk == state_obj.pk %} selected {% endif %} >{{state.state}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="main-search-input-item">
            <select class="chosen-select" data-placeholder="Select District" id="district-dropdown" name="district">
              <option label="Select District"></option>
              {% for district in districts %}
              <option value="{{district.pk}}" {% if district.pk == district_obj.pk %} selected {% endif %} >{{district.district}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="main-search-input-item">
            <select class="chosen-select" data-placeholder="Select Block" id="block-dropdown" name="block">
              <option label="Select Block"></option>
              {% for block in blocks %}                
              <option value="{{block.pk}}" {% if block.pk == block_obj.pk %} selected {% endif %} >{{block.block}}</option>
              {% endfor %}
            </select>
          </div>
          <button
            class="button"
            type="submit"
          >
            Search
          </button>
        </div>
      </form>
    </div>
    <!-- Search Section / End -->

    <div class="col-md-12">
      {% if centers %}
      <!-- Sorting - Filtering Section -->
      <div class="row margin-bottom-25 margin-top-30">
        <div class="col-md-12">
          <div class="fullwidth-filters">
            <!-- Panel Dropdown -->
            <div class="panel-dropdown wide float-right">
              <a href="#">List By Service</a>
              <div class="panel-dropdown-content checkboxes">
                <!-- Checkboxes -->
                <div class="row" id="list-by-services">
                  {% if services|length > 0 %}
                  <div class="col-md-6">
                    {% for service in services|slice:':4' %}
                    <input class="service" id="check-{{service.first_name}}" type="checkbox" name="check" value="{{service.slug}}" />
                    <label for="check-{{service.first_name}}">{{service.first_name}}</label>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% if services|length > 4 %}
                  <div class="col-md-6">
                    {% for service in services|slice:'4:8' %}
                    <input class="service" id="check-{{service.first_name}}" type="checkbox" name="check" value="{{service.slug}} />
                    <label for="check-{{service.first_name}}">{{service.first_name}}</label>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>

                <!-- Buttons -->
                <div class="panel-buttons">
                  <button type="button" class="panel-cancel">Cancel</button>
                  <button type="button" class="panel-apply" id="sort-btn">Apply</button>
                </div>
              </div>
            </div>
            <!-- Panel Dropdown / End -->              
              

            <!-- Sort by -->
            <div class="sort-by">
              <div class="sort-by-select">
                <select
                  data-placeholder="List By Name"
                  class="chosen-select-no-single"
                  id="sort-dropdown"
                >
                  <option value="name" selected>List By Name</option>
                  <option value="state">List By State</option>
                  <option value="district">List By District</option>
                  <option value="block">List By Block</option>
                </select>
              </div>
            </div>
            <!-- Sort by / End -->
          </div>
        </div>
      </div>
      <!-- Sorting - Filtering Section / End -->
      {% endif %}

      <div class="row" id="center-listing">
        {% if not centers %}
        <div>
          <h3 class="centered-heading">No CSC centers found for location: {{location}}</h3>
          <br>
        </div>
        {% endif %}
        {% for center in centers %}
        <!-- Listing Item -->
        <div class="col-lg-4 col-md-6 center-items">
          <a
            href="listings-single-page.html"
            class="listing-item-container compact"
          >
            <div class="listing-item">
              <img src="{% static 'images/listing-item-01.jpg' %}" alt="" />

              <div class="listing-item-content">
                <div class="listing_csc_logo">
                  <img src="{% if center.logo %} {{center.logo.url}} {% else %} {% static 'images/EGATE-e1651050883359.jpg' %} {% endif %}" alt="" />
                </div>
                <h3>{{center.full_name}}</h3>
                <p>CSC ID : {{center.pk}}</p>
                <span
                  ><i class="fa fa-map-marker" aria-hidden="true"></i> {{center.partial_address}}</span
                >
              </div>
            </div>
          </a>
        </div>
        <!-- Listing Item / End -->
        {% endfor %}         
      </div>

      <!-- Pagination -->
      <div class="clearfix"></div>
      <div class="row" id="pagination-row">
        <div class="col-md-12">
          <!-- Pagination -->
          <div class="pagination-container margin-top-20 margin-bottom-40">
            <nav class="pagination" id="pagination-nav">
              <ul>
                <li>
                  <a href="#" class="prev-page" id="prev-page"><i class="sl sl-icon-arrow-left"></i></a>
                </li>
                <!-- <li><a href="#" class="current-page" id="current-page">1</a></li>
                <li><a href="#" id="next-first-page">2</a></li>
                <li><a href="#" id="next-second-page" >3</a></li> -->
                <li><a href="#" id="first-page">1</a></li>
                <li><a href="#" id="second-page">2</a></li>
                <li><a href="#" id="third-page" >3</a></li>
                <li>
                  <a href="#" class="next-page" id="next-page"><i class="sl sl-icon-arrow-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- Pagination / End -->      
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'w3/admin_csc_center/js/populateDistricts.js' %}"></script>
<script src="{% static 'w3/admin_csc_center/js/populateBlocks.js' %}"></script>

<script>
  $(document).ready(() => {
    function filterAndSortCenters() {
      const services = []
      $('.service:checked').each(function () {
        let service = $(this).val();
        services.push(service);
      });

      const state = $('#state-dropdown').val();
      const district = $('#district-dropdown').val();
      const block = $('#block-dropdown').val();
      const listing = $('#sort-dropdown').val();

      $.ajax({
        type: 'GET',
        url: '/filter_and_sort_centers/',
        dataType: 'json',
        data: {
          'services': services,
          'state': state,
          'district': district,
          'block': block,
          'listing': listing,
        },

        success: function (response) {
          $('#center-listing').html('');

          if (response.centers.length == 0) {
            $('#center-listing').html(`<h3 class="centered-heading">No CSC centers in {{location}} with the given services.</h3><br>`)
          }

          response.centers.forEach(center => {
            let html = `<div class="col-lg-4 col-md-6 center-items">
                          <a
                            href="listings-single-page.html"
                            class="listing-item-container compact"
                          >
                            <div class="listing-item">
                              <img src="{% static 'images/listing-item-01.jpg' %}" alt="" />

                              <div class="listing-item-content">
                                <div class="listing_csc_logo">
                                  <img src="${center.logo ? center.logo : '/static/images/EGATE-e1651050883359.jpg' }" alt="CSC Center Logo" />
                                </div>
                                <h3>${center.full_name}</h3>
                                <p>CSC ID : ${center.pk}</p>
                                <span
                                  ><i class="fa fa-map-marker" aria-hidden="true"></i> ${center.partial_address}</span
                                >
                              </div>
                            </div>
                          </a>
                        </div>`
            $('#center-listing').append(html);
          });
          paginator();

        },

        error: error => console.error("Error:", error),
      })
    }

    $('#sort-dropdown').on('change', filterAndSortCenters);

    $('#sort-btn').click(filterAndSortCenters);

    // Pagination
    function paginator () {
      let itemsPerPage = 9;
      let currentPage = 1;
      let totalItems = $('.center-items').length;
      let totalPages = Math.ceil(totalItems / itemsPerPage);

      $('.prev-page').hide();

      function paginationBtnVisibility() {
        $('#first-page, #second-page, #third-page').removeClass('current-page prev-page next-page uncoming-page earlier-page');

        if (currentPage == totalPages) {
          $('.next-page').hide();

          if (totalPages == 1) {
            $('#first-page').html(currentPage).addClass('current-page');
            $('#second-page').hide();
            $('#third-page').hide();

          } else if (totalPages == 2) {
            $('#first-page').html(currentPage - 1).addClass('prev-page');            
            $('#second-page').html(currentPage).addClass('current-page');
            $('#third-page').hide();
            $('.prev-page').show();

          } else if (totalPages == 3) {
            $('#first-page').html(currentPage - 2).addClass('earlier-page');
            $('#second-page').html(currentPage - 1).addClass('prev-page');
            $('#third-page').html(currentPage).addClass('current-page');

          } else {
            $('#first-page').html(currentPage - 2).addClass('earlier-page');
            $('#second-page').html(currentPage - 1).addClass('prev-page');
            $('#third-page').html(currentPage).addClass('current-page');
            $('.prev-page').show();            
          };

        } else if (currentPage > 1) {          
          $('.prev-page').show();
          $('.next-page').show();
          $('#first-page').html(currentPage - 1).addClass('prev-page');
          $('#second-page').html(currentPage).addClass('current-page');
          $('#third-page').html(currentPage + 1).addClass('next-page');

        } else if (currentPage == 1) {
          $('.prev-page').hide();
          $('.next-page').show();
          $('#first-page').html(currentPage).addClass('current-page');
          $('#second-page').html(currentPage + 1).addClass('next-page');

          if (totalPages < 3) {
            $('#third-page').hide();
          } else {
            $('#third-page').html(currentPage + 2).addClass('upcoming-page');
          }
        }          
      };

      paginationBtnVisibility();

      function renderPage(page) {
          $('.center-items').hide();
          $('.center-items').slice((page - 1) * itemsPerPage, page * itemsPerPage).show();
          $('#pagination a').removeClass('active');
          $('#pagination a').eq(page).addClass('active');
          $('.prev-page').toggleClass('disabled', page === 1);
          $('.next-page').toggleClass('disabled', page === totalPages);
      }

      $(document).on('click', '.next-page', function() {
          if (currentPage < totalPages) {
              currentPage++;
              $('#current-page').html(currentPage);
              paginationBtnVisibility();
              renderPage(currentPage);
          }
      });

      $(document).on('click', '.upcoming-page', function() {
          if (currentPage < totalPages - 1) {
              currentPage += 2;
              $('#current-page').html(currentPage);
              paginationBtnVisibility();
              renderPage(currentPage);
          }
      });

      $(document).on('click', '.prev-page', function() {
        if (currentPage > 1) {
            currentPage--;
            $('#current-page').html(currentPage);
            paginationBtnVisibility();
            renderPage(currentPage);
        }
      });

      $(document).on('click', '.earlier-page', function() {
        if (currentPage > 2) {
            currentPage -= 2;
            $('#current-page').html(currentPage);
            paginationBtnVisibility();
            renderPage(currentPage);
        }
      });

      // Initialize the first page
      renderPage(currentPage);
    };

    paginator();

  });

</script>
{% endblock scripts %}
