{% extends "base/base.html" %}
{% load static %}

{% block title_prefix %}Products{% endblock title_prefix %}

{% block meta_description %}"Discover top-quality products available at your nearest CSC center. Enjoy reliable service, affordable pricing, and easy access to essential products."{% endblock meta_description %}

{% block meta_keywords %}"Service Center Products, Products for Service Centers, Common Service Center Products, CSC Products"{% endblock meta_keywords %}

{% block og_title_prefix %}Products{% endblock og_title_prefix %}

{% block og_description %}"Discover top-quality products available at your nearest CSC center. Enjoy reliable service, affordable pricing, and easy access to essential products."{% endblock og_description %}

{% block schema_markup %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "mainEntity": {
      "@type": "CreativeWork",
      "name": "Keyphrases",
      "about": [
      {% for category in categories|slice:':4' %}
        {
          "@type": "Thing",
          "name": "{{category.name}}"
        },
        {% endfor %}
        // Add more keywords as needed
      ]
    }
  }
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "CollectionPage",
    "name": "Tags Page",
    "description": "A page listing various tags for categorizing content.",
    "url": "https://{{request.get_host}}/tags",
    "mainEntity": {
      "@type": "ItemList",
      "itemListElement": [
      {% for category in categories|slice:':4' %}
      {
        "@type": "ListItem",
        "position": {{forloop.counter}},
        "url": "https://{{request.get_host}}{{request.path}}tags/{{category.slug}}",
        "name": "{{category.name}}"
      },
      {% endfor %}
      // Add more tags as needed
      ]
    }
  }
</script>
{% endblock schema_markup %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Products</h2>
        <span>Online Shopping</span>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="{% url 'home:view' %}">Home</a></li>
            <li>Products</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

{% include "components/message.html" %}

<!-- Content
================================================== -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Sorting - Filtering Section -->
      <div class="row margin-bottom-25">
        <div class="col-md-12">
          <div class="fullwidth-filters">
            <!-- Panel Dropdown / End -->

            <!-- Sort by -->
            <div class="sort-by">
              <div class="sort-by-select">
                <select
                  data-placeholder="List By Category"
                  class="chosen-select-no-single" id="category-dropdown"
                >
                  <option value="" selected hidden disabled>Select Category</option>                  
                  {% for category in categories %}
                  <option value="{{category.slug}}" >{{category.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Sort by / End -->
          </div>
        </div>
      </div>
      <!-- Sorting - Filtering Section / End -->

      <div class="row" id="list-product-div">
		{% for product in products %}
        <!-- Listing Item -->
        <div class="col-lg-3 col-md-4 row-items">
          <div class="product-grid">
            <div class="product-image">
              <a href="{{product.get_absolute_url}}" class="image">
                <img class="pic-1" src="{% if product.image %} {{product.image.url}} {% else %} {% static 'w3/images/noe_image.png' %} {% endif %}" />
                <img class="pic-2" src="{% if product.image %} {{product.image.url}} {% else %} {% static 'w3/images/noe_image.png' %} {% endif %}" />
              </a>
              <span class="product-sale-label">sale!</span>

              <div class="product-rating">
                <a class="add-to-cart" href="{{product.get_absolute_url}}"> ORDER NOW </a>
              </div>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="{{product.get_absolute_url}}">{{product.name}}</a></h3>
              <div class="price">₹{{product.price}}</div>
            </div>
          </div>
        </div>
        <!-- Listing Item / End -->
		{% endfor %}
      </div>

      <!-- Pagination -->
      <div class="clearfix"></div>
        <div class="row" id="pagination-row">
          <div class="col-md-12">
          <!-- Pagination -->
          <div class="pagination-container margin-top-20 margin-bottom-40">
            <nav class="pagination" id="pagination-nav">
            <ul>
              <li>
              <a href="#" class="prev-page" id="prev-page"><i class="sl sl-icon-arrow-left"></i></a>
              </li>                
              <li><a href="#" id="first-page">1</a></li>
              <li><a href="#" id="second-page">2</a></li>
              <li><a href="#" id="third-page" >3</a></li>
              <li>
              <a href="#" class="next-page" id="next-page"><i class="sl sl-icon-arrow-right"></i></a>
              </li>
            </ul>
            </nav>
          </div>
          </div>
        </div>
      </div>
			<!-- Pagination / End -->
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(() => {
    function getProducts(categoryId) {
      $.ajax({
        type: 'GET',
        url: `/products/tags/${categoryId}`,
        dataType: 'json',
        success: response => {
          if (response.products && Array.isArray(response.products)) {
            $('#list-product-div').html('');
            response.products.forEach(product => {
              html = `<div class="col-lg-3 col-md-4">
                      <div class="product-grid">
                        <div class="product-image">
                          <a href="${product.get_absolute_url}" class="image">
                            <img class="pic-1" src="${product.image ? product.image : '/static/w3/images/noe_image.png'}" />
                            <img class="pic-2" src="${product.image ? product.image : '/static/w3/images/noe_image.png'}" />
                          </a>
                          <span class="product-sale-label">sale!</span>

                          <div class="product-rating">
                            <a class="add-to-cart" href="${product.get_absolute_url}"> ORDER NOW </a>
                          </div>
                        </div>
                        <div class="product-content">
                          <h3 class="title"><a href="${product.get_absolute_url}">${product.name}</a></h3>
                          <div class="price">₹${product.price}</div>
                        </div>
                      </div>
                    </div>`
              $('#list-product-div').append(html);
            });
          }
        },
        error: error => {
          console.error('Error: ', error)
        }
      });
    };

    $('#category-dropdown').on('change', function () {
      getProducts($(this).val())
    })
  });
</script>

<script>
  $(document).ready(() => {
      // Pagination
    function paginator () {
      let itemsPerPage = 9;
      let currentPage = 1;
      let totalItems = $('.row-items').length;
      let totalPages = Math.ceil(totalItems / itemsPerPage);

      $('.prev-page').hide();      

      function paginationBtnVisibility() {
        $('#first-page, #second-page, #third-page').removeClass('current-page prev-page next-page uncoming-page earlier-page').hide();
        $('.next-page').hide();
        $('.prev-page').hide();
        
        if (currentPage == totalPages) {          
          $('.next-page').hide();
          
          if (totalPages == 1) {
            $('#first-page').html(currentPage).addClass('current-page').show();                       
            
          } else if (totalPages == 2) {
            $('#first-page').html(currentPage - 1).addClass('prev-page').show();            
            $('#second-page').html(currentPage).addClass('current-page').show();
            $('.prev-page').show();
            
          } else if (totalPages == 3) {
            $('#first-page').html(currentPage - 2).addClass('earlier-page').show();
            $('#second-page').html(currentPage - 1).addClass('prev-page').show();
            $('#third-page').html(currentPage).addClass('current-page').show();
            $('#prev-page').show();

          } else {
            $('#first-page').html(currentPage - 2).addClass('earlier-page').show();
            $('#second-page').html(currentPage - 1).addClass('prev-page').show();
            $('#third-page').html(currentPage).addClass('current-page').show();
            $('.prev-page').show();            
          };

        } else if (currentPage > 1) {          
          $('.prev-page').show();
          $('.next-page').show();
          $('#first-page').html(currentPage - 1).addClass('prev-page').show();
          $('#second-page').html(currentPage).addClass('current-page').show();
          $('#third-page').html(currentPage + 1).addClass('next-page').show();

        } else if (currentPage == 1 && totalPages > 0) {          
          $('.next-page').show();
          $('#first-page').html(currentPage).addClass('current-page').show();
          $('#second-page').html(currentPage + 1).addClass('next-page').show();

          if (totalPages >= 3) {          
            $('#third-page').html(currentPage + 2).addClass('upcoming-page').show();
          }
        }          
      };

      paginationBtnVisibility();

      function renderPage(page) {
          $('.row-items').hide();
          $('.row-items').slice((page - 1) * itemsPerPage, page * itemsPerPage).show();
          $('#pagination a').removeClass('active');
          $('#pagination a').eq(page).addClass('active');
          $('.prev-page').toggleClass('disabled', page === 1);
          $('.next-page').toggleClass('disabled', page === totalPages);
      }

      $(document).on('click', '.next-page', function() {
          if (currentPage < totalPages) {
              currentPage++;
              $('#current-page').html(currentPage);
              paginationBtnVisibility();
              renderPage(currentPage);
          }
      });

      $(document).on('click', '.upcoming-page', function() {
          if (currentPage < totalPages - 1) {
              currentPage += 2;
              $('#current-page').html(currentPage);
              paginationBtnVisibility();
              renderPage(currentPage);
          }
      });

      $(document).on('click', '.prev-page', function() {
        if (currentPage > 1) {
            currentPage--;
            $('#current-page').html(currentPage);
            paginationBtnVisibility();
            renderPage(currentPage);
        }
      });

      $(document).on('click', '.earlier-page', function() {
        if (currentPage > 2) {
            currentPage -= 2;
            $('#current-page').html(currentPage);
            paginationBtnVisibility();
            renderPage(currentPage);
        }
      });

      // Initialize the first page
      renderPage(currentPage);
    };

    paginator();
  })
</script>
{% endblock scripts %}
