{% extends "user_base/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'w3/admin_service/css/admin_service.css' %}">
{% endblock styles %}

{% block title_prefix %} Service Equiry {% endblock title_prefix %}

{% block content %}
<style>
	#enquiry-table {
	  min-width: 100%;
	  background-color: #fff;
	}
	#enquiry-table tr {
	  border-bottom: 1px solid silver;
	}
	#enquiry-table tbody tr {
	  cursor: pointer;
	}
	#enquiry-table tbody tr:hover {
	  color: blue;
	}
	#enquiry-table td:first-child,
	#enquiry-table th:first-child,
	#td-image,
	#th-image {
	  text-align: center;
	}
	#enquiry-table img {
	  padding: 3px 0;
	  height: 50px;
	}
	#enquiry-table button {
	  height: 0;
	  padding: 0 10px;
	}
	#enquiry-table tbody tr:hover button {
	  height: 100%;
	  padding: 2px 10px;
	}
  </style>

	<!-- Titlebar -->
	<div id="titlebar">
		<div class="row">
			<div class="col-md-12">
				<h2>Service Enquiry</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{% url 'csc_admin:home' %}">Home</a></li>						
						<li>Service Enquiry</li>
					</ul>
				</nav>
			</div>
		</div>
		{% if messages %}
		<div id="message-div">
			<ul class="messages">
				{% for message in messages %}
				<li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>

	<!-- Delete Confirmation Box Start-->
    <div id="delete-confirmation-box" style="display: none;">
        <div class="modal-content">            
            <h4>Deleting Service Enquiry <span id="service-enquiry"></span> . . .</h4>
            <h5>Are you sure?</h5>                        
        </div>
        <br>
        <form method="GET" action="#">
            <button type="submit" id="confirm-deletion-btn">Delete</button>
            <button type="button" id="cancel-deletion-btn">Cancel</button>
        </form>
    </div>
    <!-- Delete Confirmation Box Start-->

	<div class="row">
		
		<!-- Listings -->
		<div class="col-lg-12 col-md-12">
			<div class="dashboard-list-box margin-top-0" style="background-color: #fff;">
				<!-- Sort by -->
				<div class="sort-by">
					<div class="sort-by-select">
						<select
						data-placeholder="List By Category"
						class="chosen-select-no-single"
						id="center-dropdown"
						>
						<option value="" selected hidden disabled>
						Select CSC Center
						</option>
						{% for center_obj in centers %}
						<option value="{{center_obj.slug}}" {% if center_obj.slug == center.slug %} selected {% endif %}>{{center_obj.name}}</option>
						{% endfor %}
						</select>
					</div>
				</div>
				<h4>Service Enquiry</h4>
				<br />
				<table id="enquiry-table">
					<thead>
					<tr>
						<th>No</th>
						<th>Applicant Name</th>
						<th>Service</th>
						<th>Applicant Email</th>
						<th>Applicant Phone</th>
						<th></th>
					</tr>
					</thead>
					<tbody id="enquiry-tbody">
					{% for enquiry in enquiries %}
					<tr
						onclick="window.location='{% url 'users:service_enquiry' enquiry.slug %}'"
					>
						<td>{{ forloop.counter }}</td>
						<td>{{ enquiry.applicant_name }}</td>
						<td>{{ enquiry.service.first_name }}</td>
						<td>{{ enquiry.applicant_email }}</td>
						<td>{{ enquiry.applicant_phone }}</td>
						<td>
						<button
							class="button gray"
							onclick="event.stopPropagation(); toggleEnquiryDeletion('{{enquiry.slug}}', '{{enquiry.service.first_name}}')"
						>
							Delete
						</button>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>				
			</div>
		</div>


		<!-- Copyrights -->
		<div class="col-md-12">
			<div class="copyrights">© 2021 CSCIndia. All Rights Reserved.| Powered by <a href="https://www.zentrix.in/" target="_blank">Zentrix Technologies</a></div>
		</div>
	</div>

{% endblock content %}

{% block scripts %}
<script>
	function toggleEnquiryDeletion(serviceId, serviceName) {
		$('#delete-confirmation-box form').prop('action', `/users/delete_service_enquiry/${serviceId}`);
		$('#service-enquiry').html(serviceName);
		$('#delete-confirmation-box').show();
	}	
	
	$('#cancel-deletion-btn').click(() => {
		$('#delete-confirmation-box').hide();		
	})
</script>

<!-- Get Service Enquiry for multiple centers -->
<script>
	$(document).ready(function() {

		function getEnquiries(center) {
			$.ajax({
				type: 'GET',
				url: `/users/service_enquiries/`,
				dataType: 'json',
				data: {'center_slug': center},
				success: response => {
					$('#enquiry-tbody').html('').css('pointer-events', 'auto');;
					$(`#center-dropdown option[value='${center}']`).prop('selected', true).trigger('chosen:updated');
						if (response.enquiries.length > 0) {
							response.enquiries.forEach(enquiry => {
								let html = `<tr
										onclick="window.location='/users/service_enquiry/${enquiry.slug}'"
									>
										<td>${ enquiry.count }</td>
										<td>${ enquiry.applicant_name }</td>
										<td>${ enquiry.service }</td>
										<td>${ enquiry.applicant_email }</td>
										<td>${ enquiry.applicant_phone }</td>
										<td>
										<button
											class="button gray"
											onclick="event.stopPropagation(); toggleEnquiryDeletion('${enquiry.slug}', '${enquiry.service}')"
										>
											Delete
										</button>
										</td>
									</tr>`
								$('#enquiry-tbody').append(html);
							})
						} else {
							$('#enquiry-tbody').html(`<tr><td colspan="5" style="color:red;">No Serivce Requests</td></tr>`).css('pointer-events', 'none');
						}
				},
				error: error => console.error("Error: ", error),
			})
		};

		const center =  localStorage.getItem('centerSlug');
		const user = localStorage.getItem('cscUser');

		if (user == `{{request.user.username}}`) {
			if ($('#center-dropdown').val() != center) {
				getEnquiries(center);
			}
		}

		$('#center-dropdown').on('change', function () {
			const center = $(this).val();
			localStorage.setItem('centerSlug', center)
			localStorage.setItem('cscUser', `{{request.user.username}}`)

			getEnquiries(center);
		});
	});
</script>
{% endblock scripts %}