{% extends "admin_base/base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Services{% endblock page_title %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="text-end p-2">
            <button class="btn btn-sm btn-success" data-bs-toggle="offcanvas" data-bs-target="#create-service-modal">Create</button>
        </div>
        <hr>
        {% for service in services %}
        <div class="col-lg-4 my-3 d-flex justify-content-center align-items-end">
            <a class="btn" href="{% url 'csc_admin:service' service.pk %}">
                <div class="card shadow" style="min-width: 400px; min-height: 350px">
                    {% if service.image %}
                    <div class="d-flex justify-content-center" style="background-image: linear-gradient(to bottom, silver, white 65%);">
                        <img class="card-img-top" src="{{service.image.url}}" alt="Service Image" style="width: 250px;">
                    </div>
                    {% endif %}
                    <div class="card-body d-flex justify-content-center align-items-end w-100" style="width: fit-content;">
                        <h5 class="card-title text-center">{{service.name}}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<br>

<!-- Create Service Offset -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="create-service-modal" aria-labelledby="offcanvasExampleLabel" style="width: 720px;">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Create Service</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <form method="POST" enctype="multipart/form-data" action="{% url 'csc_admin:create_service' %}">
            {% csrf_token %}
            <div class="form-group">                
                {{ form|crispy }}
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit" style="width: 120px;">Create</button>
            </div>
        </form>
      </div>        
    </div>
<div>
{% endblock main %}
