{% extends "admin_base/base.html" %}
{% load static %}

<!-- Meta Tags Start -->
{% block meta_description %}
"List of Services in Common Service Centres (CSC) in India"
{% endblock meta_description %}

{% block meta_og_description %}
"List of Services in Common Service Centres (CSC) in India"
{% endblock meta_og_description %}
<!-- Meta Tags Start -->

{% block add_btn %}
<a href="{% url 'csc_admin:create_service' %}" class="button border with-icon" id="add-service-btn">ADD SERVICE <i class="sl sl-icon-plus"></i></a>
{% endblock add_btn %}

{% block content %}

<div class="dashboard-content">

	<!-- Titlebar -->
	<div id="titlebar">
		<div class="row">
			<div class="col-md-12">
				<h2>Services</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{% include "admin_components/home_link.html" %}">Home</a></li>						
						<li>Services</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="row">
		
		<!-- Listings -->
		<div class="col-lg-12 col-md-12">
			<div class="dashboard-list-box margin-top-0">
				<div class="row">
					<!-- Listing Item -->
				{% for service in services %}
				<div class="col-lg-4 col-md-6">
					<div class="product-grid">
						<div class="product-image">
							<a href="{% url 'csc_admin:service' service.pk %}" class="image">
								<img class="pic-1" src="{% if service.image %} {{service.image.url}} {% else %} {% static 'images/img-3.jpg' %}  {% endif %}">
								<img class="pic-2" src="{% if service.image %} {{service.image.url}} {% else %} {% static 'images/img-3.jpg' %}  {% endif %}">
							</a>
							
							<div class="product-rating">
		
								<a class="add-to-cart" href="{% url 'csc_admin:service' service.pk %}"> View Service </a>
							</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="{% url 'csc_admin:service' service.pk %}">{{service.name}}</a></h3>					
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- Listing Item / End -->
				</div>
			</div>
		</div>


		<!-- Copyrights -->
		<div class="col-md-12">
			<div class="copyrights">© 2021 CSCIndia. All Rights Reserved.| Powered by <a href="https://www.zentrix.in/" target="_blank">Zentrix Technologies</a></div>
		</div>
	</div>

</div>
{% endblock content %}