{% load static %}

<!DOCTYPE html>
<head>

<!-- Basic Page Needs
================================================== -->
<title>List of Common Service Centres (CSC) in India</title>

<meta name="description" content="List of Common Service Centres (CSC) in India" />

<meta name="keywords" content="CSC Centers in India, Common Service Centres, List of CSC Centers, Find CSC Centers">

<meta name="author" content="CSCIndia.info" />

<meta name="robots" content="index, follow">

<meta name="p:domain_verify" content="3ff725468cbfbe20793d4cab9d4175c9"/>
<meta name="yandex-verification" content="77774333f73d2cc9" />
<meta name="msvalidate.01" content="4D196FD7BB898D60AE3855BA5DB31BFB" />
<meta name="google-site-verification" content="qVaJ_bnkTCxTSOm_I-G8sqiMYWMkDPIQXlNCJcLhFiQ" />

<meta property="og:site_name" content="Common Service Centres (CSC) in India" />

<meta property="og:title" content="List of Common Service Centres (CSC) in India" />

<meta property="og:image" content="https://cscindia.info/images/logo.png' %}" /> 

<meta property="og:description" content="List of Common Service Centres (CSC) in India" />

<meta property="og:url" content="https://cscindia.info/" />

{% block meta_tags %}{% endblock meta_tags %}

<link rel="canonical" href="https://cscindia.info/" />

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://cscindia.info",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://cscindia.info/jobs?q={search_term_string}&from=googlesl",
    "query-input": "required name=search_term_string"
  }
}
</script>



<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "FAQPage",
	  "mainEntity": [
		{
		  "@type": "Question",
		  "name": "What is a trademark?",
		  "acceptedAnswer": {
			"@type": "Answer",
			"text": "A trademark is a distinctive marker that distinguishes products or services from competitors. It can include symbols, designs, expressions, or identifiable features associated with a specific brand."
		  }
		},
		{
		  "@type": "Question",
		  "name": "Why should I register my trademark?",
		  "acceptedAnswer": {
			"@type": "Answer",
			"text": "Trademark registration protects your rights to use the mark and provides legal recourse against infringement. It remains valid for ten years, with the option to renew indefinitely."
		  }
		},
		{
		  "@type": "Question",
		  "name": "What is the process for trademark filing in India?",
		  "acceptedAnswer": {
			"@type": "Answer",
			"text": "<ul class='p-l-15 ul_f_f list-icon list-icon-check list-icon-colored text-justify'><li>Trademark search</li><li>Class Selection and Document Preparation</li><li>Trademark Application Filing</li><li>Vienna Codification Process</li><li>Trademark Examination</li><li>Trademark Journal Publication</li><li>Trademark Objection/Opposition (if applicable)</li><li>Trademark Hearing</li><li>Trademark Registration</li></ul>"
		  }
		},
		 
		{
		  "@type": "Question",
		  "name": "How do I get started with IndiaFilings for trademark registration?",
		  "acceptedAnswer": {
			"@type": "Answer",
			"text": "You can contact our experts and initiate the process by providing basic information about your desired trademark and industry. IndiaFilings experts will guide you throughout the registration process."
		  }
		}
	  ]
	}
	</script>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebPage",
      "mainEntity": {
        "@type": "CreativeWork",
        "name": "Keyphrases",
        "about": [
          {
            "@type": "Thing",
            "name": "Keyword 1"
          },
          {
            "@type": "Thing",
            "name": "Keyword 2"
          },
          {
            "@type": "Thing",
            "name": "Keyword 3"
          }
          // Add more keywords as needed
        ]
      }
    }
</script>

<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "CollectionPage",
"name": "Tags Page",
"description": "A page listing various tags for categorizing content.",
"url": "https://www.example.com/tags",
"mainEntity": {
"@type": "ItemList",
"itemListElement": [
{
"@type": "ListItem",
"position": 1,
"url": "https://www.example.com/tags/technology",
"name": "Technology"
},
{
"@type": "ListItem",
"position": 2,
"url": "https://www.example.com/tags/science",
"name": "Science"
},
{
"@type": "ListItem",
"position": 3,
"url": "https://www.example.com/tags/travel",
"name": "Travel"
},
{
"@type": "ListItem",
"position": 4,
"url": "https://www.example.com/tags/food",
"name": "Food"
}
// Add more tags as needed
]
}
}
</script>



<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "ItemList",
	  "name": "List of Blog Articles",
	  "itemListElement": [
		{
		  "@type": "ListItem",
		  "position": 1,
		  "item": {
			"@type": "BlogPosting",
			"headline": "Title of Blog Post 1",
			"image": "URL of Featured Image 1",
			"datePublished": "2022-01-01",
			"dateModified": "2022-01-01",
			"author": {
			  "@type": "Person",
			  "name": "Author's Name 1"
			},
			"publisher": {
			  "@type": "Organization",
			  "name": "Your Organization Name",
			  "logo": {
				"@type": "ImageObject",
				"url": "URL of Organization's Logo"
			  }
			},
			"mainEntityOfPage": {
			  "@type": "WebPage",
			  "@id": "URL of Blog Post 1"
			},
			"articleBody": "Summary or snippet of Blog Post 1",
			"keywords": "Keywords related to Blog Post 1",
			"url": "URL of Blog Post 1"
		  }
		},
		{
		  "@type": "ListItem",
		  "position": 2,
		  "item": {
			"@type": "BlogPosting",
			"headline": "Title of Blog Post 2",
			"image": "URL of Featured Image 2",
			"datePublished": "2022-01-01",
			"dateModified": "2022-01-01",
			"author": {
			  "@type": "Person",
			  "name": "Author's Name 2"
			},
			"publisher": {
			  "@type": "Organization",
			  "name": "Your Organization Name",
			  "logo": {
				"@type": "ImageObject",
				"url": "URL of Organization's Logo"
			  }
			},
			"mainEntityOfPage": {
			  "@type": "WebPage",
			  "@id": "URL of Blog Post 2"
			},
			"articleBody": "Summary or snippet of Blog Post 2",
			"keywords": "Keywords related to Blog Post 2",
			"url": "URL of Blog Post 2"
		  }
		}
	  ]
	}
</script>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@type": "Organization",
          "name": "Company Name 1",
          "url": "https://example.com/company1",
          "logo": "https://example.com/company1/logo.png' %}",
          "description": "Description of Company 1"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@type": "Organization",
          "name": "Company Name 2",
          "url": "https://example.com/company2",
          "logo": "https://example.com/company2/logo.png' %}",
          "description": "Description of Company 2"
        }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@type": "Organization",
          "name": "Company Name 3",
          "url": "https://example.com/company3",
          "logo": "https://example.com/company3/logo.png' %}",
          "description": "Description of Company 3"
        }
      }
      // Add more companies as needed
    ]
  }
  </script>


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "ItemList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@type": "Service",
        "provider": {
          "@type": "Organization",
          "name": "Company Name 2",
          "url": "https://example.com/company3",
          "logo": "https://example.com/company3/logo.png' %}"
        },
        "name": "Service Name 2",
        "description": "Description of Service 2"
      }
    },
    {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@type": "Service",
        "provider": {
          "@type": "Organization",
          "name": "Company Name 2",
          "url": "https://example.com/company3",
          "logo": "https://example.com/company3/logo.png' %}"
        },
        "name": "Service Name 2",
        "description": "Description of Service 2"
      }
    }
    // Add more products and services provided by companies as needed
  ]
}
</script>

{% block schema_markup %}{% endblock schema_markup %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/main-color.css' %}" id="colors">

<link rel="shortcut icon" href="{% static 'images/Favicon.png' %}">
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="no-shadow">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="{% url 'home:view' %}"><img src="{% static 'images/logo.png' %}" alt="CSC Centers in India"></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				 <nav id="navigation" class="style-1" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
					<ul id="responsive">

						<li itemprop="name"><a itemprop="url" class="{% block home_nav %}{% endblock home_nav %}" href="{% include "components/home_link.html" %}">Home</a></li>

						<li itemprop="name"><a itemprop="url" class="{% block about_us_nav %}{% endblock about_us_nav %}" href="{% url 'about_us:view' %}">About Us</a>
							<ul>
								<li itemprop="name"><a itemprop="url" href="profile">Profile</a></li>
								<li itemprop="name"><a itemprop="url" href="blog">Blog</a></li>								 
							</ul>
						</li>

						<li itemprop="name"><a itemprop="url" class="{% block services_nav %}{% endblock services_nav %}" href="{% url 'services:list' %}">Services</a>
							<div class="mega-menu mobile-styles three-columns">

									<div class="mega-menu-section">
										<ul>
											<li itemprop="name"><a itemprop="url" href="#">User Profile</a></li>
											<li itemprop="name"><a itemprop="url" href="#">Booking Page</a></li>
											<li itemprop="name"><a itemprop="url" href="#">Add Listing</a></li>
											<li itemprop="name"><a itemprop="url" href="{% url 'blog:list' %}">Blog</a></li>
                                            <li itemprop="name"><a itemprop="url" href="#">Booking Page</a></li>
											<li itemprop="name"><a itemprop="url" href="#">Add Listing</a></li>
										</ul>
									</div>
		
									<div class="mega-menu-section">
										<ul>
											<li itemprop="name"><a itemprop="url" href="#">User Profile</a></li>
											<li itemprop="name"><a itemprop="url" href="#">Booking Page</a></li>
											<li itemprop="name"><a itemprop="url" href="#">Add Listing</a></li>
											<li itemprop="name"><a itemprop="url" href="{% url 'blog:list' %}">Blog</a></li>
                                            <li itemprop="name"><a itemprop="url" href="#">Booking Page</a></li>
											<li itemprop="name"><a itemprop="url" href="#">Add Listing</a></li>
										</ul>
									</div>

									<div class="mega-menu-section">
										<ul>
											<li itemprop="name"><a itemprop="url" href="#">User Profile</a></li>
											<li itemprop="name"><a itemprop="url" href="#">Booking Page</a></li>
											<li itemprop="name"><a itemprop="url" href="#">Add Listing</a></li>
											<li itemprop="name"><a itemprop="url" href="{% url 'blog:list' %}">Blog</a></li>
                                            <li itemprop="name"><a itemprop="url" href="#">Booking Page</a></li>
											<li itemprop="name"><a itemprop="url" href="#">Add Listing</a></li>
										</ul>
									</div>
									
							</div>
						</li>

						<li itemprop="name"><a itemprop="url" class="{% block products_nav %}{% endblock products_nav %}" href="{% url 'products:view' %}">Products</a></li>
						<li itemprop="name"><a itemprop="url" class="{% block contact_us_nav %}{% endblock contact_us_nav %}" href="{% url 'contact_us:view' %}">Contact Us</a></li>
                        
                        
						
					</ul>
				</nav>

				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">
				<!-- Header Widget -->
				<div class="header-widget">
					
					<!-- User Menu -->
					<div class="user-menu">
                     <a href="{% include "components/login_link.html" %}" class="user-name"><span><img src="{% static 'images/dashboard-avatar.jpg' %}" alt=""></span> Login</a> 
                    
                    <!--  
                     <div class="user-name"><span><img src="{% static 'images/dashboard-avatar.jpg' %}" alt=""></span>CSC Name</div>
						<ul>
							<li><a href="dashboard.html"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
							<li><a href="dashboard-messages.html"><i class="sl sl-icon-envelope-open"></i> Messages</a></li>
							<li><a href="dashboard-bookings.html"><i class="fa fa-calendar-check-o"></i> Bookings</a></li>
							<li><a href="index.html"><i class="sl sl-icon-power"></i> Logout</a></li>
					 </ul> -->
                        
					</div>

					<a target="_blank" href="{% include "components/add_csc_center_link.html" %}" class="button border with-icon">ADD CSC CENTER <i class="sl sl-icon-plus"></i></a>
				</div>
				<!-- Header Widget / End -->
			</div>
			<!-- Right Side Content / End -->
            
            
            

			

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

{% block content %}{% endblock content %}

<!-- Footer
================================================== -->


<section class="foot_loc_list">
    <div class="container">
		<div class="row">


<div class="col-md-3">
<ul class="list-1">
<li><a href="#">State Wise CSC Center</a>
</li><li><a href="#">CSC Centers in Andhra Pradesh</a>
</li><li><a href="#">CSC Centers in Arunachal Pradesh</a>
</li><li><a href="#">CSC Centers in Assam</a>
</li><li><a href="#">CSC Centers in Bihar</a>
</li><li><a href="#">CSC Centers in Goa</a>
</li><li><a href="#">CSC Centers in Andaman &amp; Nicobar</a>
</li><li><a href="#">CSC Centers in Chandigarh</a>
</li><li><a href="#">CSC Centers in Chhattisgarh</a>
</li><li><a href="#">CSC Centers in Dadra and Nagar Haveli</a>
</li><li><a href="#">CSC Centers in Daman and Diu</a>

</li></ul>
</div>


<div class="col-md-3">
<ul class="list-1">
<li><a href="#">State Wise CSC Center</a>
</li><li><a href="#">CSC Centers in Andhra Pradesh</a>
</li><li><a href="#">CSC Centers in Arunachal Pradesh</a>
</li><li><a href="#">CSC Centers in Assam</a>
</li><li><a href="#">CSC Centers in Bihar</a>
</li><li><a href="#">CSC Centers in Goa</a>
</li><li><a href="#">CSC Centers in Andaman &amp; Nicobar</a>
</li><li><a href="#">CSC Centers in Chandigarh</a>
</li><li><a href="#">CSC Centers in Chhattisgarh</a>
</li><li><a href="#">CSC Centers in Dadra and Nagar Haveli</a>
</li><li><a href="#">CSC Centers in Daman and Diu</a>

</li></ul>
</div>


<div class="col-md-3">
<ul class="list-1">
<li><a href="#">State Wise CSC Center</a>
</li><li><a href="#">CSC Centers in Andhra Pradesh</a>
</li><li><a href="#">CSC Centers in Arunachal Pradesh</a>
</li><li><a href="#">CSC Centers in Assam</a>
</li><li><a href="#">CSC Centers in Bihar</a>
</li><li><a href="#">CSC Centers in Goa</a>
</li><li><a href="#">CSC Centers in Andaman &amp; Nicobar</a>
</li><li><a href="#">CSC Centers in Chandigarh</a>
</li><li><a href="#">CSC Centers in Chhattisgarh</a>
</li><li><a href="#">CSC Centers in Dadra and Nagar Haveli</a>
</li><li><a href="#">CSC Centers in Daman and Diu</a>

</li></ul>
</div><div class="col-md-3">
<ul class="list-1">
<li><a href="#">State Wise CSC Center</a>
</li><li><a href="#">CSC Centers in Andhra Pradesh</a>
</li><li><a href="#">CSC Centers in Arunachal Pradesh</a>
</li><li><a href="#">CSC Centers in Assam</a>
</li><li><a href="#">CSC Centers in Bihar</a>
</li><li><a href="#">CSC Centers in Goa</a>
</li><li><a href="#">CSC Centers in Andaman &amp; Nicobar</a>
</li><li><a href="#">CSC Centers in Chandigarh</a>
</li><li><a href="#">CSC Centers in Chhattisgarh</a>
</li><li><a href="#">CSC Centers in Dadra and Nagar Haveli</a>
</li><li><a href="#">CSC Centers in Daman and Diu</a>

</li></ul>
</div>


            
</div>
</div>
</section>

<div id="footer" class="sticky-footer">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<img class="footer-logo" src="{% static 'images/logo.png' %}" alt="CSC Centers in India">
				<br><br>
				<p>CSC - Common Services Centre programme is an initiative of the Ministry of Electronics and IT (MeitY), Government of India. CSCs are easy access points for delivery of various digital services to rural and urban people in India, thereby contributing to a digitally and financially inclusive society.In rural India.</p>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>Helpful Links</h4>
				<ul class="footer-links">
					<li><a href="{% include "components/home_link.html" %}">Home</a></li>
					<li><a href="{% include "components/login_link.html" %}">Login</a></li>
					<li><a href="#">Sign Up</a></li>
					<li><a href="#">My Account</a></li>
					<li><a href="{% include "components/add_csc_center_link.html" %}">Add CSC Centers</a></li>
					<li><a href="#">Services</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="#">FAQ</a></li>
<li><a href="#">Profile</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>		

			<div class="col-md-3  col-sm-12">
				<h4>Contact Us</h4>
				<div class="text-widget">
					<span>SY.NO.195/2, Kallubalu Road, Jigani, Bangalore, Karnataka – 560105, India</span> <br>
					E-Mail:<span> <a href="mailto:support@cscindia.info">support@cscindia.info</a> </span><br>
				</div>

				<ul class="social-icons margin-top-20" itemscope="" itemtype="https://schema.org/Organization">
<link itemprop="url" href="https://cscindia.info/">
<li><a itemprop="sameAs" class="facebook" href="https://www.facebook.com/cscindia.info" target="_blank"><i class="icon-facebook"></i></a></li>
<li><a itemprop="sameAs" class="instagram" href="https://www.instagram.com/cscindia.info/" target="_blank"><i class="icon-instagram"></i></a></li>
<li><a itemprop="sameAs" class="youtube" href="https://www.youtube.com/channel/UCt9oq2Nd-lwINvszT5J4gIw?sub_confirmation=1" target="_blank"><i class="icon-youtube"></i></a></li>
<li><a itemprop="sameAs" class="linkedin" href="https://www.linkedin.com/company/csc-india/" target="_blank"><i class="icon-linkedin"></i></a></li>
<li><a itemprop="sameAs" class="pinterest" href="https://in.pinterest.com/cscindia_info/" target="_blank"><i class="icon-pinterest"></i></a></li>
<li><a itemprop="sameAs" class="tumblr" href="https://www.tumblr.com/cscindia" target="_blank"><i class="icon-tumblr"></i></a></li>
</ul>

			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 2021 CSCIndia. All Rights Reserved.| Powered by <a href="https://www.zentrix.in/" target="_blank">Zentrix Technologies</a></div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="{% static 'scripts/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery-migrate-3.3.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/mmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/chosen.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/rangeslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/counterup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/tooltips.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>


<!-- Leaflet // Docs: https://leafletjs.com/ -->
<script src="{% static 'scripts/leaflet.min.js' %}"></script>

<!-- Leaflet Maps Scripts -->
<script src="{% static 'scripts/leaflet-markercluster.min.js' %}"></script>
<script src="{% static 'scripts/leaflet-gesture-handling.min.js' %}"></script>
<script src="{% static 'scripts/leaflet-listeo.js' %}"></script>

<!-- Leaflet Geocoder + Search Autocomplete // Docs: https://github.com/perliedman/leaflet-control-geocoder -->
<script src="{% static 'scripts/leaflet-autocomplete.js' %}"></script>
<script src="{% static 'scripts/leaflet-control-geocoder.js' %}"></script>



<!-- Typed Script -->
<script type="text/javascript" src="{% static 'scripts/typed.js' %}"></script>
<script>
var typed = new Typed('.typed-words', {
strings: ["FSSAI Registration","MSME Registration","Passport Registration","Trademark Registration"],
	typeSpeed: 80,
	backSpeed: 80,
	backDelay: 4000,
	startDelay: 1000,
	loop: true,
	showCursor: true
});
</script>



<!-- Home Search Scripts -->
<script>
    $(window).on('load', function() { $('.msps-shapes').addClass('shapes-animation'); });
</script>
 
<script src="{% static 'scripts/parallax.min.js' %}"></script>
<script>
const parent = document.getElementById('scene');
const parallax = new Parallax(parent, {
  limitX: 50,
  limitY: 50,  
});
 
 
$('.msps-slider').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 5000,
    speed: 1000,
    fade: true,
    cssEase: 'linear'
});

</script>

</body>
</html>