{% extends "base/base.html" %}
{% load static %}

{% block title_prefix %} Blogs {% endblock title_prefix %}

{% block meta_tags %}{% endblock meta_tags %}

{% block schema_markup %}{% endblock schema_markup %}

{% block content %}
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Blog</h2><span>Latest Blogs</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Blog</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">

	<!-- Blog Posts -->
	<div class="blog-page">
		<div class="row">
			<div class="col-lg-9 col-md-8 padding-right-30">
				<!-- Blog Post -->
                 {% for blog in blogs %}
				<div class="blog-post">				
					<!-- Img -->
					<a href="{% url 'blog:detail' blog.slug %}" class="post-img">
						<img src={% if blog.image %} {{blog.image.url}} {% else %} "{% static 'images/blog-post-01.jpg' %}" {% endif %} alt="">
					</a>				
					<!-- Content -->
					<div class="post-content">
						<h3><a href="{% url 'blog:detail' blog.slug %}">{{blog.title}} </a></h3>
						<ul class="post-meta">
							<li>{{blog.created_at|date:"F d, Y"}}</li>					
						</ul>
						<p>{{blog.summary}}</p>
						<a href="{% url 'blog:detail' blog.slug %}" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
					</div>
				</div>
                {% endfor %}				
				<!-- Pagination -->
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12">
						<!-- Pagination -->
						<div class="pagination-container margin-bottom-40">
							<nav class="pagination">
								<ul>
									<li><a href="#" class="current-page">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<!-- Pagination / End -->
			</div>
			<!-- Blog Posts / End -->
			<!-- Widgets -->
			<div class="col-lg-3 col-md-4">
				<div class="sidebar right">
					<!-- Widget -->
					<div class="widget">
						<h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
						<div class="search-blog-input">
							<div class="input"><input class="search-field" type="text" placeholder="Type and hit enter" value=""/></div>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- Widget / End -->
					<!-- Widget -->
					<div class="widget margin-top-40">
						<h3>Popular Posts</h3>
						<ul class="widget-tabs">
							<!-- Post #1 -->
                             {% for blog in blogs|slice:'3' %}
							<li>
								<div class="widget-content">
									<div class="widget-thumb">
										<a href="pages-blog-post.html"><img src={% if blog.image %} {{blog.image.url}} {% else %} "{% static 'images/blog-widget-03.jpg' %}" {% endif %} alt=""></a>
									</div>								
									<div class="widget-text">
										<h5><a href="pages-blog-post.html">{{blog.title}} </a></h5>
										<span>{{blog.created_at|date:"F d, Y"}}</span>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
                            {% endfor %}							
						</ul>
					</div>
					<!-- Widget / End-->
					<!-- Widget -->
					<div class="widget margin-top-40">
						<h3>Categories</h3>
						<ul class="list-4 color">
                            {% for category in categories|slice:'4' %}
							<li>{{category}}</li>
							{% endfor %}
						</ul>
					</div>
					<!-- Widget / End -->
					<!-- Widget -->
					<div class="widget margin-top-40">
						<h3>Tags</h3>
						<ul class="option-set">
							{% for tag in tags %}
							<li><a href="#filter">{{tag.name}}</a></li>
							{% endfor %}		
						</ul>
					</div>
					<!-- Widget / End -->
					<!-- Widget / End-->
					<div class="clearfix"></div>
					<div class="margin-bottom-40"></div>
				</div>
			</div>
		</div>
		<!-- Sidebar / End -->
	</div>
</div>
{% endblock content %}