{% extends "base/base.html" %}
{% load static %}

{% block title_prefix %}Services{% endblock title_prefix %}

{% block meta_description %}"Explore a variety of services offered by Common Service Centers (CSCs) across different locations. Find the best services tailored to your needs, including digital, financial, and government services."{% endblock meta_description %}

{% block meta_keywords %}"Common Service Center, CSC services, digital services, government services, online services, CSC center, public services"{% endblock meta_keywords %}

{% block og_title_prefix %}Services{% endblock og_title_prefix %}

{% block og_description %}"Explore a variety of services offered by Common Service Centers (CSCs) across different locations. Find the best services tailored to your needs, including digital, financial, and government services."{% endblock og_description %}

{% block schema_markup %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "mainEntity": {
      "@type": "CreativeWork",
      "name": "Keyphrases",
      "about": [
        {
          "@type": "Thing",
          "name": "Common Service Center"
        },
        {
          "@type": "Thing",
          "name": "CSC services"
        },
        {
          "@type": "Thing",
          "name": "digital services"
        },
        {
          "@type": "Thing",
          "name": "government services"
        }, 
        {
          "@type": "Thing",
          "name": "online services"
        }, 
        {
          "@type": "Thing",
          "name": "CSC center"
        }, 
        {
          "@type": "Thing",
          "name": "public services"
        }
        // Add more keywords as needed
      ]
    }
  }
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "itemListElement": [
    {% for service in services %}
      {
        "@type": "ListItem",
        "position": {{forloop.counter}},
        "item": {
          "@type": "Service",
          "provider": {
            "@type": "Organization",
            "name": "CSC Locator",
            "url": "https://cscindia.info/",
            "logo": "https://cscindia.info/images/logo.png"
          },
          "name": "{{service.name}}",
          "description": "Access fast and reliable {{service.first_name}} at your nearest Common Service Center. Get expert assistance and hassle-free solutions tailored to your needs."
        }
      },
      {% endfor %}      
      // Add more products and services provided by companies as needed
    ]
  }
  </script>
{% endblock schema_markup %}
 
{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Services</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{% url 'home:view' %}">Home</a></li>
						<li>Services</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<!-- Listing Item -->
				 {% for service in services %}
				<div class="col-lg-4 col-md-6 row-items" data-name="{{service.name}}">
					<a href="{% url 'services:service' service.slug %}" class="listing-item-container compact">
						<div class="listing-item">
							<img src={% if service.image %} {{service.image.url}} {% else %} "images/listing-item-01.jpg" {% endif %} alt="Image of service">
							<div class="listing-item-content">
								<h3>{{service.name}}</h3>
							</div>
 						</div>
					</a>
				</div>
				{% endfor %}
				<!-- Listing Item / End -->
			</div>
 
 

			<!-- Pagination -->
      <div class="clearfix"></div>
        <div class="row" id="pagination-row">
          <div class="col-md-12">
          <!-- Pagination -->
          <div class="pagination-container margin-top-20 margin-bottom-40">
            <nav class="pagination" id="pagination-nav">
            <ul>
              <li>
              <a href="#" class="prev-page" id="prev-page"><i class="sl sl-icon-arrow-left"></i></a>
              </li>                
              <li><a href="#" id="first-page">1</a></li>
              <li><a href="#" id="second-page">2</a></li>
              <li><a href="#" id="third-page" >3</a></li>
              <li>
              <a href="#" class="next-page" id="next-page"><i class="sl sl-icon-arrow-right"></i></a>
              </li>
            </ul>
            </nav>
          </div>
          </div>
        </div>
      </div>
			<!-- Pagination / End -->

            

		</div>

	</div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(() => {
        // Pagination
      function paginator () {
        let itemsPerPage = 9;
        let currentPage = 1;
        let totalItems = $('.row-items').length;
        let totalPages = Math.ceil(totalItems / itemsPerPage);
  
        $('.prev-page').hide();      
  
        function paginationBtnVisibility() {
          $('#first-page, #second-page, #third-page').removeClass('current-page prev-page next-page uncoming-page earlier-page').hide();
          $('.next-page').hide();
          $('.prev-page').hide();
          
          if (currentPage == totalPages) {          
            $('.next-page').hide();
            
            if (totalPages == 1) {
              $('#first-page').html(currentPage).addClass('current-page').show();                       
              
            } else if (totalPages == 2) {
              $('#first-page').html(currentPage - 1).addClass('prev-page').show();            
              $('#second-page').html(currentPage).addClass('current-page').show();
              $('.prev-page').show();
              
            } else if (totalPages == 3) {
              $('#first-page').html(currentPage - 2).addClass('earlier-page').show();
              $('#second-page').html(currentPage - 1).addClass('prev-page').show();
              $('#third-page').html(currentPage).addClass('current-page').show();
              $('#prev-page').show();
  
            } else {
              $('#first-page').html(currentPage - 2).addClass('earlier-page').show();
              $('#second-page').html(currentPage - 1).addClass('prev-page').show();
              $('#third-page').html(currentPage).addClass('current-page').show();
              $('.prev-page').show();            
            };
  
          } else if (currentPage > 1) {          
            $('.prev-page').show();
            $('.next-page').show();
            $('#first-page').html(currentPage - 1).addClass('prev-page').show();
            $('#second-page').html(currentPage).addClass('current-page').show();
            $('#third-page').html(currentPage + 1).addClass('next-page').show();
  
          } else if (currentPage == 1 && totalPages > 0) {          
            $('.next-page').show();
            $('#first-page').html(currentPage).addClass('current-page').show();
            $('#second-page').html(currentPage + 1).addClass('next-page').show();
  
            if (totalPages >= 3) {          
              $('#third-page').html(currentPage + 2).addClass('upcoming-page').show();
            }
          }          
        };
  
        paginationBtnVisibility();
  
        function renderPage(page) {
            $('.row-items').hide();
            $('.row-items').slice((page - 1) * itemsPerPage, page * itemsPerPage).show();
            $('#pagination a').removeClass('active');
            $('#pagination a').eq(page).addClass('active');
            $('.prev-page').toggleClass('disabled', page === 1);
            $('.next-page').toggleClass('disabled', page === totalPages);
        }
  
        $(document).on('click', '.next-page', function() {
            if (currentPage < totalPages) {
                currentPage++;
                $('#current-page').html(currentPage);
                paginationBtnVisibility();
                renderPage(currentPage);
            }
        });
  
        $(document).on('click', '.upcoming-page', function() {
            if (currentPage < totalPages - 1) {
                currentPage += 2;
                $('#current-page').html(currentPage);
                paginationBtnVisibility();
                renderPage(currentPage);
            }
        });
  
        $(document).on('click', '.prev-page', function() {
          if (currentPage > 1) {
              currentPage--;
              $('#current-page').html(currentPage);
              paginationBtnVisibility();
              renderPage(currentPage);
          }
        });
  
        $(document).on('click', '.earlier-page', function() {
          if (currentPage > 2) {
              currentPage -= 2;
              $('#current-page').html(currentPage);
              paginationBtnVisibility();
              renderPage(currentPage);
          }
        });
  
        // Initialize the first page
        renderPage(currentPage);
      };
  
      paginator();

      // Generate schema for services on the current page
	  function generateSchema() {

      // Collect the services currently visible in the #list-services container
      const services = document.querySelectorAll('.row-items');
      const serviceList = [];
    
      services.forEach((service, index) => {
        // Check if the service is visible
        if (getComputedStyle(service).display !== 'none') {
          const serviceData = {
            "@type": "ListItem",
            "position": serviceList.length + 1,
            "item": {
              "@type": "Service",
              "provider": {
                "@type": "Organization",
                "name": "CSC Locator",
                "url": "https://cscindia.info/",
                "logo": "https://cscindia.info/images/logo.png"
              },
              "name": service.getAttribute('data-name'),
              "description": "Explore a variety of services offered by Common Service Centers (CSCs) across different locations. Find the best services tailored to your needs, including digital and government services."
            }
          };
          serviceList.push(serviceData);
        }
      });

      // Create the JSON-LD object
      const schemaData = {
        "@context": "http://schema.org",
        "@type": "ItemList",
        "itemListElement": serviceList
      };
    
      // Remove any existing schema script
      function removeExistingSchema() {
        const serviceSchemaScript = document.getElementById('service-schema');
        if (serviceSchemaScript) {
          serviceSchemaScript.remove();
          console.log('Blog schema removed:', serviceSchemaScript.textContent);
        }
      }
  
      removeExistingSchema();
    
        // Inject new JSON-LD schema
        const script = document.createElement('script');
        script.type = 'application/ld+json';
        script.id = 'service-schema';
        script.textContent = JSON.stringify(schemaData);
        document.head.appendChild(script);
      }
  
      // Call the function when the page loads or when pagination is applied
      generateSchema();
      
      // Optional: Hook this function to pagination changes if applicable
      $(document).on('click', '.next-page, .prev-page', function() {
        removeExistingSchema();
        generateSchema();
      });
    })
</script>
{% endblock scripts %}