{% extends "base/base.html" %}
{% load static %}

{% block services_nav %} current {% endblock services_nav %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Services</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{% include "components/home_link.html" %}">Home</a></li>
						<li>Services</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		
		 


		<div class="col-md-12">

			 
			<div class="row">

				<!-- Listing Item -->
				 {% for service in services %}
				<div class="col-lg-4 col-md-6">
					<a href="{% url 'services:detail' service.pk %}" class="listing-item-container compact">
						<div class="listing-item">
							<img src={% if service.image %} {{service.image.url}} {% else %} "images/listing-item-01.jpg" {% endif %} alt="Image of service">
							<div class="listing-item-content">
								<h3>{{service.name}}</h3>
							</div>
 						</div>
					</a>
				</div>
				{% endfor %}
				<!-- Listing Item / End -->
			</div>
 
 

			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-20 margin-bottom-40">
						<nav class="pagination">
							<ul>
								<li><a href="#" class="current-page">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

            

		</div>

	</div>
</div>

{% endblock content %}