{% extends "user_base/base.html" %}

{% block title_prefix %} Home {% endblock title_prefix %}

{% block content %}
<!-- Titlebar -->
<div id="titlebar">
    <div class="row">
        <div class="col-md-12">
            <h2>Home</h2>
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs">
                <ul>
                    <li>Home</li>
                </ul>
            </nav>
        </div>
    </div>
    {% include "admin_components/message.html" %}
</div>

<div class="row">
    <h3 style="text-transform: uppercase;">Welcome to User Home Page</h3>
</div>
{% endblock content %}