{% extends "base/base.html" %}
{% load static %}

{% block prefix_title %} CSC Centers {% endblock prefix_title %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>CSC Login</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{% url "home:view" %}">Home</a></li>
						<li>CSC Login</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>


<!-- Pricing Tables
================================================== -->

<div id="sign-in-dialog">
	<div class="tabs-container alt">
		<!-- Login -->
		<div class="tab-content" id="tab1">	
			<h3>Login</h3>		
			<form method="POST" class="login">
				{% csrf_token %}
				<p class="form-row form-row-wide">
					<label for="username">Username:
						<i class="im im-icon-Male"></i>
						<input type="text" class="input-text" name="username" id="username" value="" />
					</label>
				</p>
				<p class="form-row form-row-wide">
					<label for="password">Password:
						<i class="im im-icon-Lock-2"></i>
						<input class="input-text" type="password" name="password" id="password"/>
					</label>
					<span class="lost_password">
						<a href="#" tabindex="-1">Lost Your Password?</a>
					</span>
				</p>
				<div class="form-row">				
					<button type="submit" class="button border margin-top-5" name="login" value="Login" >Login</button>
					<div class="checkboxes margin-top-10">
						<input id="remember-me" type="checkbox" name="check">
						<label for="remember-me">Remember Me</label>
					</div>
				</div>				
			</form>
		</div>
	</div>
</div>

{% endblock content %}