{% extends "admin_base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_prefix %}
Blogs
{% endblock title_prefix %}

{% block content %}
<style>
	#cke_id_content {
		width: 75vw !important;										
	}
</style>

<!-- Titlebar -->
<div id="titlebar">
	<div class="row">
		<div class="col-md-12">
			<h2>Add Blog</h2>
			<!-- Breadcrumbs -->
			<nav id="breadcrumbs">
				<ul>
					<li><a href="{% url 'csc_admin:home' %}">Home</a></li>						
					<li><a href="{% url 'csc_admin:blogs' %}">Blogs</a></li>						
					<li>Add</li>
				</ul>
			</nav>
		</div>
	</div>
	{% include "admin_components/message.html" %}
</div>

<div class="row">
	<div class="row">
		<div class="col-lg-12">
			<div id="add-listing" class="separated-form">
				<!-- Section -->
				<form method="POST" action="{% url 'csc_admin:create_blog' %}" enctype="multipart/form-data" class="add-listing-section">
					{% csrf_token %}
					<!-- Headline -->
					<div class="add-listing-headline">
						<h3><i class="sl sl-icon-doc"></i> Blog Informations</h3>
					</div>

					<!-- Title -->
					<div class="row with-forms">
						<div class="col-md-6">
							<h5>Blog Title <i class="tip" data-tip-content="Title of Blog"></i></h5>
							<input class="search-field" type="text" name="title" placeholder="Title of Blog" required/>
						</div>                							
						<div class="col-md-6">
							<h5>Blog Image <i class="tip" data-tip-content="Image of Blog"></i></h5>
							<input class="search-field" type="file" name="image"/>
						</div>                							
					</div>
					<div class="row with-forms">							
						<div class="col-md-6">
							<h5>Category <i class="tip" data-tip-content="Category of Blog"></i></h5>
							<select class="chosen-select" data-placeholder="Select Category" style="display: none;" name="category">
								<option label="Select Category"></option>
								{% for category in categories %}
								<option value={{category.pk}}>{{category.name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-6">
							<h5>Tags <i class="tip" data-tip-content="Tags of Blog"></i></h5>
							<input class="search-field" type="text" name="tags" placeholder="Provide Tags Followed By Comma" required />
						</div>                							
					</div>

					<div class="row with-forms">
						<div class="col-md-12">
							<h5>Summary <i class="tip" data-tip-content="Summary of Blog"></i></h5>
							<!-- <textarea class="WYSIWYG" name="summary" cols="40" rows="3" spellcheck="true" placeholder="A short summary of the post"></textarea> -->
							<input class="search-field" type="text" name="summary" placeholder="A Short Summary Of The Post"  required/>
						</div>
					</div>
					<div class="row with-forms">
						<div class="col-md-12">
							<h5>Content <i class="tip" data-tip-content="Description of service"></i></h5>								
							{{ form.media }}
							{{ form.content }}								
						</div>
					</div>
					<br>
					<div class="row with-forms text-center">
						<button type="submit" class="button">SAVE BlOG</button>
					</div>						
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block scripts %}
<!-- DropZone | Documentation: http://dropzonejs.com -->
{% comment %} <script type="text/javascript" src="{% static 'scripts/dropzone.js' %}"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>


<!-- <script>
    Dropzone.autoDiscover = false; // Prevent Dropzone from automatically attaching to all elements

document.addEventListener("DOMContentLoaded", function() {
	var myDropzone = new Dropzone("#my-dropzone", {
		url: "{% url 'csc_admin:create_service' %}", // Replace with your form action URL
		paramName: "image", // The name that will be used to transfer the file
		maxFilesize: 2, // MB
		acceptedFiles: '.jpg, .jpeg, .png',
		addRemoveLinks: true, // Optional: Enable removing files from the dropzone
		autoProcessQueue: false, // Disable automatic file processing
		dictDefaultMessage: "Drop files here or click to upload", // Optional: Custom default message
		init: function() {
			this.on("addedfile", function(file) {
				// Optional: Do something when a file is added
				console.log('File added:', file);
			});

			// Ensure the submit button exists in the DOM before adding event listener
			var submitButton = document.querySelector("#submit-button");
			if (submitButton) {
				submitButton.addEventListener("click", function(e) {
					e.preventDefault();
					e.stopPropagation();
					
					// Append the form data to the Dropzone's formData
					myDropzone.on("sending", function(file, xhr, formData) {
						formData.append("name", document.querySelector('input[name="name"]').value);
						formData.append("description", document.querySelector('textarea[name="description"]').value);
					});

					myDropzone.processQueue(); // Process all files in the queue
				});
			}

			this.on("success", function(file, response) {
				// Handle successful file upload if needed
				console.log('File uploaded successfully:', file, response);
			});
		}
	});
});
</script> -->

{% endblock scripts %}