{% extends "admin_base/base.html" %}
{% load static %}

{% block title_prefix %}Blogs{% endblock title_prefix %}

{% block styles %}
<link rel="stylesheet" href="{% static 'w3/admin_blog/css/admin_blog.css' %}">

<!-- Table Styles -->
<style>
    #blog-table {
        min-width: 100%;
        background-color: #fff;
    }
    #blog-table tr {
        border-bottom: 1px solid silver;
    }
    #blog-table tbody tr{
        cursor: pointer;
    }
    #blog-table tbody tr:hover {
        color: blue;
    }
    #blog-table td:first-child,
    #blog-table th:first-child {
        text-align: center;
    }
    #blog-table img {
        padding: 3px 0;
        height: 50px;
    }
    #button-div button {
        height: 0;
        padding: 0 10px;
    }
    #blog-table tbody tr:hover #button-div button {
        height: 100%;
        padding: 5px 10px;
    }
</style>
{% endblock styles %}

{% block content %}
<style>
	#publish-confirmation-box {
		z-index: 1;
	
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	
		padding: 15px;
		min-width: 360px;
		
		background-color: #fff;
		box-shadow: 0 0 5px #777;
	}
	
	#publish-confirmation-box div h4 span {
		color: red;
	}
	
	#blog-name {
		color: black;
	}
	
	#publish-confirmation-box form {
		display: flex;
		justify-content: space-between;
	}
	
	#confirm-publish-btn {
		color: #fff;
		text-transform: uppercase;
		border: none;
		background: linear-gradient(to bottom, darkgreen, green, darkgreen)
	}
	
	#confirm-publish-btn:hover {
		background: linear-gradient(to bottom, lime, green, darkgreen)
	}
	
	#cancel-publish-btn {
		color: #fff;
		text-transform: uppercase;
		border: none;
		background: linear-gradient(to bottom, darkblue, blue, darkblue)
	}
	
	#cancel-publish-btn:hover {
		background: linear-gradient(to bottom, steelblue, blue, darkblue)
	}
</style>

<!-- Status Button Style -->
<style>
	.status-btn {
		color: #fff;
		border: 0;
		text-transform: uppercase;
		width: 95px;
		box-shadow: 0px 0px 3px 1px grey;
	}

	.draft-btn {
		background-color: darkred;
	}

	.draft-btn:hover {
		background: linear-gradient(to bottom, red, darkred);
	}

	.published-btn {
		background-color: green;
	}

	.published-btn:hover {
		background: linear-gradient(to bottom, lime, green);
	}
</style>

<style>
	#draft-confirmation-box {
		z-index: 1;
	
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	
		padding: 15px;
		min-width: 360px;
		
		background-color: #fff;
		box-shadow: 0 0 5px #777;
	}
	
	#draft-confirmation-box div h4 span {
		color: red;
	}
	
	#blog-name {
		color: black;
	}
	
	#draft-confirmation-box form {
		display: flex;
		justify-content: space-between;
	}
	
	#confirm-draft-btn {
		color: #fff;
		text-transform: uppercase;		
		border: none;
		background: linear-gradient(to bottom, coral, orangered, coral)
	}
	
	#confirm-draft-btn:hover {
		background: linear-gradient(to bottom, orange, orangered, coral)
	}
	
	#cancel-draft-btn {
		color: #fff;
		text-transform: uppercase;
		border: none;
		background: linear-gradient(to bottom, darkblue, blue, darkblue)
	}
	
	#cancel-draft-btn:hover {
		background: linear-gradient(to bottom, steelblue, blue, darkblue)
	}
</style>

<!-- Titlebar -->
<div id="titlebar">
	<div class="row">
		<div class="col-md-12">
			<h2>Blogs</h2>
			<!-- Breadcrumbs -->
			<nav id="breadcrumbs">
				<ul>
					<li><a href="{% url 'csc_admin:home' %}">Home</a></li>						
					<li>Blogs</li>
				</ul>
			</nav>
		</div>
	</div>
	{% include "admin_components/message.html" %}
</div>

<!-- Delete Confirmation Box Start-->
<div id="delete-confirmation-box" style="display: none;">
	<div class="modal-content">            
		<h4><span>Deleting</span> Blog <span id="blog-name" style="color: black"></span> . . .</h4>
		<h5>Are you sure?</h5>                        
	</div>
	<br>
	<form method="GET" action="#">
		<button type="submit" id="confirm-deletion-btn">Delete</button>
		<button class="cancel-btn" type="button" id="cancel-deletion-btn">Cancel</button>
	</form>
</div>
<!-- Delete Confirmation Box Start-->

<!-- Publish Confirmation Box Start-->
<div id="publish-confirmation-box" style="display: none;">
	<div class="modal-content">            
		<h4>Publishing Blog <span id="publishing-blog-name" style="color: black"></span> . . .</h4>
		<h5>Are you sure?</h5>                        
	</div>
	<br>
	<form method="POST" action="#">
		<button type="button" id="confirm-publish-btn" onclick="changeBlogStatus();">Publish</button>
		<button class="cancel-btn" type="button" id="cancel-publish-btn">Cancel</button>
	</form>
</div>
<!-- Publish Confirmation Box Start-->

<!-- Draft Confirmation Box Start-->
<div id="draft-confirmation-box" style="display: none;">
	<div class="modal-content">            
		<h4>Keep Blog <span id="drafting-blog-name" style="color: black"></span> as draft . . .</h4>
		<h5>Are you sure?</h5>
	</div>
	<br>
	<form method="POST" action="#">
		<button type="button" id="confirm-draft-btn" onclick="changeBlogStatus()">Keep as Draft</button>
		<button class="cancel-btn" type="button" id="cancel-draft-btn">Cancel</button>
	</form>
</div>
<!-- Draft Confirmation Box Start-->

<div class="row">
	
	<!-- Listings -->
	<div class="col-lg-12 col-md-12">
		<div class="dashboard-list-box margin-top-0" style="background-color: #fff;">
			<h4>Blogs</h4>
			<br>
			<table id="blog-table">
				<thead>
					<tr>
						<th>No</th>
						<th id="th-image">Image</th>
						<th>Title</th>
						<th style="text-align:center;">Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="blog-tbody">
					{% for blog in blogs %}
					<tr class="blog-items" onclick="window.location='{% url 'csc_admin:blog' blog.slug %}'">
						<td>{{ forloop.counter }}</td>
						<td id="td-image">
							<img src="{% if blog.image %} {{blog.image.url}} {% else %} {% static 'w3/images/no_image.png' %} {% endif %}" alt="Product Image">
						</td>
						<td>{{ blog.title }}</td>
						<td style="text-align:center;">
							<button type="button" class="status-btn {% if blog.status == 'Published' %} published-btn {% else %} draft-btn {% endif %}" {% if blog.status == 'Published' %} onclick="event.stopPropagation(); toggleSetDraft(`{{blog.slug}}`, `{{blog.title}}`);" {% else %} onclick="event.stopPropagation(); togglePublishBlog(`{{blog.slug}}`, `{{blog.title}}`);" {% endif %}>{{blog.status}}</button>
						</td>
						
						<td>
							<div id="button-div">
								<button class="button gray" onclick="event.stopPropagation(); toggleBlogDeletion(`{{blog.slug}}`, `{{blog.title}}`);"><i class="sl sl-icon-close"></i> Delete</button>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% comment %} <ul>
				{% for blog in blogs %}
				<li class="blog-items">				
					<div class="list-box-listing">
						<div class="list-box-listing-img" style="display: flex; flex-direction: column;">
							<a href="#"><img src={% if blog.image %} {{blog.image.url}} {% else %} "images/listing-item-01.jpg" {% endif %} alt=""></a>
							<button id="blog-status-btn-{{blog.slug}}" style="{% if blog.status == 'Published' %} background-color:green; {% else %} background-color: darkred; {% endif %} color: #fff; border: 0;">{{blog.status}}</button>
						</div>
						<div class="list-box-listing-content">
							<div class="inner">
								<h3><a href="{% url 'csc_admin:blog' blog.slug %}">{{blog.title}}</a></h3>
								<p>{{blog.summary}}</p>
							</div>
						</div>
					</div>
					<div class="buttons-to-right">
						
						<a href="#" id="toggle-change-blog-status-btn-{{blog.slug}}" class="button gray" {% if blog.status == 'Published' %} onclick="(e) => e.preventDefault(); toggleSetDraft(`{{blog.slug}}`, `{{blog.title}}`);"><i class="fas fa-file-alt"></i> Keep as Draft {% else %} onclick="(e) => e.preventDefault(); togglePublishBlog(`{{blog.slug}}`, `{{blog.title}}`);"><i class="fas fa-paper-plane"></i> Publish Blog {% endif %}</a>
													
						<a href="{% url 'csc_admin:update_blog' blog.slug %}" class="button gray"><i class="sl sl-icon-note"></i> Edit</a>
						<a href="#" class="button gray" onclick="(e) => e.preventDefault(); toggleBlogDeletion(`{{blog.slug}}`, `{{blog.title}}`);"><i class="sl sl-icon-close"></i> Delete</a>
					</div>
				</li>
				{% endfor %}
			</ul> {% endcomment %}
		</div>

		<!-- Pagination -->
		<div class="clearfix"></div>
		<div class="row" id="pagination-row">
		  <div class="col-md-12">
			<!-- Pagination -->
			<div class="pagination-container margin-top-20 margin-bottom-40">
			  <nav class="pagination" id="pagination-nav">
				<ul>
				  <li>
					<a href="#" class="prev-page" id="prev-page"><i class="sl sl-icon-arrow-left"></i></a>
				  </li>                
				  <li><a href="#" id="first-page">1</a></li>
				  <li><a href="#" id="second-page">2</a></li>
				  <li><a href="#" id="third-page" >3</a></li>
				  <li>
					<a href="#" class="next-page" id="next-page"><i class="sl sl-icon-arrow-right"></i></a>
				  </li>
				</ul>
			  </nav>
			</div>
		  </div>
		</div>
	</div>


	<!-- Copyrights -->
	<div class="col-md-12">
		<div class="copyrights">© 2021 CSCIndia. All Rights Reserved.| Powered by <a href="https://www.zentrix.in/" target="_blank">Zentrix Technologies</a></div>
	</div>
</div>

{% endblock content %}

{% block scripts %}
<script>
	function hideBoxes() {
		$('#delete-confirmation-box').hide();
		$('#publish-confirmation-box').hide();		
		$('#draft-confirmation-box').hide();
	};
	
	function toggleBlogDeletion(blogSlug, blogTitle) {		
		$('#delete-confirmation-box form').prop('action', `/admin/delete_blog/${blogSlug}`);
		$('#blog-name').html(`'${blogTitle}'`);
		hideBoxes();
		$('#delete-confirmation-box').show();
		};	

		function togglePublishBlog(blogSlug, blogTitle) {
			localStorage.setItem('blogSlug', blogSlug);
			localStorage.setItem('blogTitle', blogTitle);
			$('#publish-confirmation-box form').prop('action', `/admin/publish_blog/${blogSlug}`);
			$('#publishing-blog-name').html(`'${blogTitle}'`);
			hideBoxes();
			$('#publish-confirmation-box').show();
		};	

		function toggleSetDraft(blogSlug, blogTitle) {
			localStorage.setItem('blogSlug', blogSlug);
			localStorage.setItem('blogTitle', blogTitle);
			$('#draft-confirmation-box form').prop('action', `/admin/draft_blog/${blogSlug}`);
			$('#drafting-blog-name').html(`'${blogTitle}'`);
			hideBoxes();
			$('#draft-confirmation-box').show();
		};	
		
		$('.cancel-btn').click(() => hideBoxes());
		
		function changeBlogStatus() {
			var blogSlug = localStorage.getItem('blogSlug');
			var blogTitle = localStorage.getItem('blogTitle');
			$.ajax({
				type: 'POST',
				url: `/admin/change_blog_status/${blogSlug}`,
				dataType: 'json',
				success: (data) => {
					if (data.status) {
						hideBoxes();				
						if (data.status == 'Published') {
							$(`#blog-status-btn-${blogSlug}`).html(data.status).css('background-color', 'green');
							$(`#toggle-change-blog-status-btn-${blogSlug}`).html(`<i class="fas fa-file-alt"></i> Keep as Draft`);
							
							$(`#toggle-change-blog-status-btn-${blogSlug}`).off('click').on('click', function(e) {
								e.preventDefault();
								toggleSetDraft(blogSlug, blogTitle);
							});
						} else if (data.status == 'Draft') {
							$(`#blog-status-btn-${blogSlug}`).html(data.status).css('background-color', 'darkred');
							$(`#toggle-change-blog-status-btn-${blogSlug}`).html(`<i class="fas fa-paper-plane"></i> Publish Blog`);
							
							$(`#toggle-change-blog-status-btn-${blogSlug}`).off('click').on('click', function(e) {
								e.preventDefault();
								togglePublishBlog(blogSlug, blogTitle);
							});
						}
					};
					localStorage.removeItem('blogSlug');
					localStorage.removeItem('blogTitle');
				},
				error: () => {
					console.error("Error: ", error);
				},
			});
		};

		$(document).ready(() => {
		// Pagination
		function paginator () {
			let itemsPerPage = 10;
			let currentPage = 1;
			let totalItems = $('.blog-items').length;
			let totalPages = Math.ceil(totalItems / itemsPerPage);
			
			$('.prev-page').hide();      
	  
			function paginationBtnVisibility() {
			  $('#first-page, #second-page, #third-page').removeClass('current-page prev-page next-page uncoming-page earlier-page').hide();
			  $('.next-page').hide();
			  $('.prev-page').hide();
			  
			  if (currentPage == totalPages) {          
				$('.next-page').hide();
				
				if (totalPages == 1) {
				  $('#first-page').html(currentPage).addClass('current-page').show();                       
				  
				} else if (totalPages == 2) {
				  $('#first-page').html(currentPage - 1).addClass('prev-page').show();            
				  $('#second-page').html(currentPage).addClass('current-page').show();
				  $('.prev-page').show();
				  
				} else if (totalPages == 3) {
				  $('#first-page').html(currentPage - 2).addClass('earlier-page').show();
				  $('#second-page').html(currentPage - 1).addClass('prev-page').show();
				  $('#third-page').html(currentPage).addClass('current-page').show();
				  $('#prev-page').show();
	  
				} else {
				  $('#first-page').html(currentPage - 2).addClass('earlier-page').show();
				  $('#second-page').html(currentPage - 1).addClass('prev-page').show();
				  $('#third-page').html(currentPage).addClass('current-page').show();
				  $('.prev-page').show();            
				};
	  
			  } else if (currentPage > 1) {          
				$('.prev-page').show();
				$('.next-page').show();
				$('#first-page').html(currentPage - 1).addClass('prev-page').show();
				$('#second-page').html(currentPage).addClass('current-page').show();
				$('#third-page').html(currentPage + 1).addClass('next-page').show();
	  
			  } else if (currentPage == 1 && totalPages > 0) {          
				$('.next-page').show();
				$('#first-page').html(currentPage).addClass('current-page').show();
				$('#second-page').html(currentPage + 1).addClass('next-page').show();
	  
				if (totalPages >= 3) {          
				  $('#third-page').html(currentPage + 2).addClass('upcoming-page').show();
				}
			  }          
			};
	  
			paginationBtnVisibility();
	  
			function renderPage(page) {
				$('.blog-items').hide();
				$('.blog-items').slice((page - 1) * itemsPerPage, page * itemsPerPage).show();
				$('#pagination a').removeClass('active');
				$('#pagination a').eq(page).addClass('active');
				$('.prev-page').toggleClass('disabled', page === 1);
				$('.next-page').toggleClass('disabled', page === totalPages);
			}
	  
			$(document).on('click', '.next-page', function() {
				if (currentPage < totalPages) {
					currentPage++;
					$('#current-page').html(currentPage);
					paginationBtnVisibility();
					renderPage(currentPage);
				}
			});
	  
			$(document).on('click', '.upcoming-page', function() {
				if (currentPage < totalPages - 1) {
					currentPage += 2;
					$('#current-page').html(currentPage);
					paginationBtnVisibility();
					renderPage(currentPage);
				}
			});
	  
			$(document).on('click', '.prev-page', function() {
			  if (currentPage > 1) {
				  currentPage--;
				  $('#current-page').html(currentPage);
				  paginationBtnVisibility();
				  renderPage(currentPage);
			  }
			});
	  
			$(document).on('click', '.earlier-page', function() {
			  if (currentPage > 2) {
				  currentPage -= 2;
				  $('#current-page').html(currentPage);
				  paginationBtnVisibility();
				  renderPage(currentPage);
			  }
			});
	  
			// Initialize the first page
			renderPage(currentPage);
		  };
	  
		  paginator();

	});
</script>
{% endblock scripts %}