{% extends "admin_base/base.html" %}
{% load static %}

<!-- Meta Tags Start -->
{% block meta_description %}
"List of Blogs of Common Service Centres (CSC) in India"
{% endblock meta_description %}

{% block meta_og_description %}
"List of Blogs of Common Service Centres (CSC) in India"
{% endblock meta_og_description %}
<!-- Meta Tags Start -->

{% block add_btn %}
{% comment %} <a href="{% url 'csc_admin:update_service' service.pk %}" class="button border with-icon">UPDATE SERVICE <i class="sl sl-icon-refresh"></i></a> {% endcomment %}
{% endblock add_btn %}

{% block content %}

{% endblock content %}